# Ignore temporary files that might show up from Krita
*.*~
todo.txt
*.kra

# Ignore executables
*.exe
*.love

# Ignore csv files, since those are only to be used by ccGraphMaker
# to generate the levelX_pathing.lua files.
*.csv